@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.sobre{
    color:#fff;
}

ul{
    text-align: center;
    display: flex;
    align-items:center;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    justify-content: space-between;
}
ul li{
    color:#fff;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header {
    background: rgb(88, 52, 10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    padding-inline: 16px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icones div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icones div:hover{
    color:var(--main-color);

}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
    display: flex;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .conteudo h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .conteudo.preco{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.nav{
    max-width:1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex; 
    gap: 32px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: white;
    padding-block: 16px;
}
.logo{
    font-size: 48px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url(".bg.jpg");
}

.hamburguer {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;

}
.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background:#fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media(max-width:750px){
        .hamburguer {
        display: block;
        z-index: 1;
}
        .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background:rgb(88, 52, 10);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        pointer-events: none;
}
    .nav-list a{
        font-size: 24px;
        opacity: 0;

    }
    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
}
    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.3s;

}
    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.4s;
     
}
    .nav-list li:nth-child(4) a{
        transition: 0.5s 0.5s;
      
}
    .nav-list li:nth-child(5) a{
        transition: 0.5s 0.6s;
     
}
    .nav-list li:nth-child(6) a{
        transition: 0.5s 0.7s;
      
}
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
}
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
}
}

/* Diversos */

.menu{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(/images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.menu-btn{
    display: none;
}

.menu .conteudo{
    max-width: 60rem;
}

.menu .conteudo h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.menu .conteudo p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .preco{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .preco span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}
.sobre .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.sobre .row .images{
    flex:1 1 45rem;
}

.sobre .row .images img{
    width: 100%;
}
.sobre .row .conteudo {
    flex:1 1 45rem;
    padding:2rem;
}

.sobre .row .conteudo h3{
    font-size: 3rem;
    color:#fff;
}

.sobre .row .conteudo p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.produtos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.produtos .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.produtos .box-container .box .icones a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.produtos .box-container .box .icones a:hover{
    background:var(--main-color);
}

.produtos .box-container .box .images{
    padding: 2.5rem 0;
}

.produtos .box-container .box .images img{
    height: 25rem;
}

.produtos .box-container .box .conteudo h3{
    color:#fff;
    font-size: 2.5rem;
}

.produtos .box-container .box .conteudo .stars{
    padding: 1.5rem;
}

.produtos .box-container .box .conteudo .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.produtos .box-container .box .conteudo .preco{
    color:#fff;
    font-size: 2.5rem;
}

.produtos .box-container .box .conteudo .preco span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.avaliacao .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.avaliacao .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.avaliacao .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.avaliacao .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.avaliacao.box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.avaliacao .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.conteudo .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.conteudo .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.conteudo.row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.conteudo .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.conteudo .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.conteudo .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.conteudo .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .images{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .images img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .images img{
    transform: scale(1.2);
}

.blogs .box-container .box .conteudo{
    padding:2rem;
}

.blogs .box-container .box .conteudo .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .conteudo .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .conteudo span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .conteudos p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}
